img
{
    width: 500px; height: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Playfair Display";
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title
{
    justify-content: center; text-align: center;
}

.room
{
    margin-top: 5%;
    border-style: solid; border-width: 1px; border-color: black; padding: 2% 2% 2% 2%;
}
.room div
{
    margin-top: 2%;
    font-size: 1.5rem;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
input[type="text"], input[type="submit"], input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Playfair Display";
}
.add-room-button {
    font-family: "Playfair Display";
    padding: 10px;
    background-color: #b4a044;
    color: #fff;
    font-size: 2rem; font-weight: 600;
    border-style: solid; border-color: black; border-width: 5px;
    border-radius: 5%/50%;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #b4a044;
    color: #fff;
}

.delete-button
{
    font-family: "Playfair Display";
    padding: 2px;
    background-color:#b4a044;
    color: #fff;
    font-size: 1rem; font-weight: 400;
    width: 15%;
    border-style: solid; border-color: black; border-width: 2px;
    border-radius: 20%/50%;
    cursor: pointer;
}


