<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/891868257475260497/1225378531966582784/hotelicon.png?ex=6620e9b0&is=660e74b0&hm=70b39270560a4a8522ba6374b3c3dc43cdd932db3f941aa6e7668c39dc45b221&">
    <link rel="stylesheet" href="/tableForms.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <a href="/">5 Star Hotel Booking System</a>
    <a class = "dashboard_header" href="/">Dashboard</a>
</div>

<div class="container">
    <h1>Book Room</h1>
    <form method="post" action="/addBooking">
        <label for="customerId">Customer:</label>
        <select id="customerId" name="customerId" required>
            <option th:each="customer : ${customers}" th:value="${customer.id}">
                <span>Name: <span th:text="${customer.name}"></span>;</span>
                <span>Number: <span th:text="${customer.phoneNumber}"></span>;</span>
                <span>Email: <span th:text="${customer.email}"></span></span>
            </option>
        </select>

        <label for="roomId">Room:</label>
        <select id="roomId" name="roomId" required>
            <option th:each="room : ${rooms}" th:value="${room.id}">
                <span th:text="${room.roomNumber}"></span>
            </option>
        </select><br>

        <label>Services:</label><br>
        <input type="checkbox" id="service1" name="services" value="Breakfast" data-price = 20>
        <label for="service1">Breakfast: $20 CAD</label><br>
        <input type="checkbox" id="service2" name="services" value="Lunch" data-price = 35>
        <label for="service2">Lunch: $35 CAD</label><br>
        <input type="checkbox" id="service3" name="services" value="VIP Lounge" data-price = 100>
        <label for="service3">VIP Lounge: $100 CAD</label><br>
        <input type="checkbox" id="service4" name="services" value="SPA" data-price = 80>
        <label for="service4">SPA: $80 CAD</label><br>


        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required><br>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required><br>


        <!--        <div class = "summary">-->
<!--            <h1>Summary</h1>-->
<!--            <h1>Room Type: </h1>-->
<!--        </div>-->

        <button type="submit">Book Room</button>

        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
    </form>

</div>

</body>
</html>
