<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/891868257475260497/1225378531966582784/hotelicon.png?ex=6620e9b0&is=660e74b0&hm=70b39270560a4a8522ba6374b3c3dc43cdd932db3f941aa6e7668c39dc45b221&">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<div class = "header">
    <a href="/">5 Star Hotel Booking System</a>
    <a href="/">Dashboard</a>
</div>
<div class = "hero"></div>
<!-- 396 -->

<div class = "greeting">
    <ion-icon name="person-circle-outline"></ion-icon>
    <h1 class = "greeting">Welcome Back, Admin</h1>

</div>
<div class = "dashboard">
    <h1 >Dashboard</h1>
    <div class = "grid">
        <div><h3>Number of bookings</h3> <p id="display-logistics-1" th:if="${bookingCount != null}" th:text="${bookingCount}"></p></div>
        <div><h3>Revenue</h3> <p id="display-logistics-2" th:if="${revenue != null}" th:text="${revenue}"></p></div>
        <div><h3>Occupancy Rate</h3><p id="display-logistics-3" th:if="${occupancyRate != null}" th:text="${occupancyRate}"></p></div>
    </div>
</div>

<div class="actions">
    <a href="/customers">View Customers</a>
    <a href="/rooms">View Rooms</a>
    <a href="/bookings">View Bookings</a>
</div>

<div class = "footer">
    <h1>Since 2024</h1>
</div>




</body>
</html>