<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class = "header">
  <h1>5 Star Hotel Booking System</h1>
  <h1>Dashboard</h1>
</div>
<div class = "hero">
    <h1>Welcome back, Admin</h1>
</div>
<!-- 396 -->
<div class = "dashboard">
    <h1 >Dashboard</h1>
    <div class = "grid">
        <div><h3>Number of bookings</h3></div>
        <div><h3>Revenue</h3></div>
        <div><h3>Occupancy Rate</h3></div>
    </div>
</div>

<div class="actions">
    <a href="customers.html">View Customers</a>
    <a href="rooms.html">View Rooms</a>
    <a href="bookings.html">View Bookings</a>
</div>




</body>
</html>