<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
  <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/891868257475260497/1225378531966582784/hotelicon.png?ex=6620e9b0&is=660e74b0&hm=70b39270560a4a8522ba6374b3c3dc43cdd932db3f941aa6e7668c39dc45b221&">
  <link rel="stylesheet" href="/invoice.css">
</head>
<body>

<div class="header">
  <a href="/">5 Star Hotel Booking System</a>
  <a class = "dashboard_header" href="/">Dashboard</a>
</div>

<div class="invoice">
  <h1>Invoice</h1>
  <p>Duration: From <span th:text="${startDate}"></span> To <span th:text="${endDate}"></span></p>
  <p>Customer Name: <span th:text="${customerName}"></span></p>
  <p>Room Number: <span th:text="${roomNumber}"></span></p>
  <p>Total Cost: $<span th:text="${totalCost}"></span></p>
</div>

</body>
</html>
